.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    align-content: center;
    margin: 1.3rem;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1rem;
    overflow: hidden;
    width: 53vh;
    height: 25vh;
    align-self: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}
.texta{
    text-align: justify;
}

@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1.2rem;

    }
    .portfolio__item-image{
        border-radius: 1.5rem;
        overflow: hidden;
        width: 55vh;
        height: 27vh;
    }
    .portfolio__item h3{
        margin: 1.2rem 0 2rem;
        text-align: center;

    }
    
    .portfolio__item-cta{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
    
    }
}
@media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .portfolio__item-image{
        border-radius: 1.5rem;
        overflow: hidden;
        width: 35vh;
        height: 18vh;
    }
    .portfolio__item h3{
        margin: 1.2rem 0 2rem;
        text-align: center;
    }
    
    .portfolio__item-cta{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
    
    }
}

